{{define "form"}}
    <h2>Login form</h2>
    <form id="loginForm">
      <label for="nameInput"> Name: </label>
      <input type="text" name="name" id="nameInput" />
      <br />
      <label for="emailInput"> Email: </label>
      <input type="email" name="email" id="emailInput" />
      <br />
      <label for="passwordInput"> Password: </label>
      <input type="password" name="password" id="passwordInput" />
      <br />
      <input type="submit" hx-post="login" hx-target="#main" hx-swap="innerHTML" hx-trigger="click" value="Login" />
      <input type="submit" hx-post="register" hx-target="#main" hx-swap="innerHTML" hx-trigger="click" value="Register" />
    </form>
    <div id="responseData"></div>
{{end}}
