{{define "questionEntry"}}
 <hr></hr>
<div>
    <label>Question title</label>
    <input type="text" name="qtitle[]"/>
</div>
<label>Answer 1</label>
<div>
    <input type="text" name="qa1[]"/>
    <input type="checkbox" name="correct[]" value="1">
</div>
<label>Answer 2</label>
<div>
    <input type="text" name="qa2[]"/>
    <input type="checkbox" name="correct[]" value="2">
</div>
<label>Answer 3</label>
<div>
    <input type="text" name="qa3[]"/>
    <input type="checkbox" name="correct[]" value="3">
</div>
<label>Answer 4</label>
<div>
    <input type="text" name="qa4[]"/>
    <input type="checkbox" name="correct[]" value="4">
</div>
{{end}}
